@model IEnumerable<Eindopdracht_CSharp.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Animal</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Category
            @* @Html.DisplayNameFor(model => model.Category.Name) *@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            Dietary Class
            @* @Html.DisplayNameFor(model => model.DietaryClass) *@
        </th>
        <th>
            Activity Pattern
            @* @Html.DisplayNameFor(model => model.ActivityPattern) *@
        </th>
        <th>
            Space Requirement
            @* @Html.DisplayNameFor(model => model.SpaceRequirement) *@
        </th>
        <th>
            Security Level Requirement
            @* @Html.DisplayNameFor(model => model.SecurityRequirement) *@
        </th>
        <th>
            Zoo Name
        </th>
        <th>
            Enclosure Name
            @* @Html.DisplayNameFor(model => model.Enclosure.Name) *@
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Category?.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DietaryClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityPattern)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpaceRequirement) m²
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityRequirement)
            </td>
            <td>
                @item.Enclosure?.Zoo?.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enclosure.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
