@model Eindopdracht_CSharp.Models.Enclosure

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Enclosure</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <div class="form-group">
                <label asp-for="ZooId" class="control-label">Zoo Name</label>
                <select asp-for="ZooId" class="form-control" asp-items="ViewBag.Zoos"></select>
                <span asp-validation-for="ZooId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Climate" class="control-label"></label>
                <select asp-for="Climate" class="form-control">
                    @foreach (var item in Enum.GetValues(typeof(Eindopdracht_CSharp.Enums.Climate)))
                    {
                        <option value="@item.ToString()">@item.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Climate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HabitatType" class="control-label"></label>
                <select asp-for="HabitatType" class="form-control">
                    @foreach (var item in Enum.GetValues(typeof(Eindopdracht_CSharp.Enums.HabitatType)))
                    {
                        <option value="@item.ToString()">@item.ToString()</option>
                    }
                </select>
                <span asp-validation-for="HabitatType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityLevel" class="control-label"></label>
                <select asp-for="SecurityLevel" class="form-control">
                    @foreach (var item in Enum.GetValues(typeof(Eindopdracht_CSharp.Enums.SecurityLevel)))
                    {
                        <option value="@item.ToString()">@item.ToString()</option>
                    }
                </select>
                <span asp-validation-for="SecurityLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label">Size (in m²)</label>
                <input asp-for="Size" class="form-control"/>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

